fastapi
uvicorn[standard]
pydantic
python-dotenv

langchain
langchain-core
langchain-community
langgraph
langgraph-checkpoint-postgres
langchain-google-genai
langchain-groq
langchain-weaviate

weaviate-client
cohere

pymupdf
pypdf

celery
redis

supabase
psycopg2-binary
asyncpg

httpx
requests
python-multipart

typing-extensions